// Placeholder to allow overriding predefined variables smoothly.
// $base-font-family: "Noto Sans", sans-serif;
// $code-font-family: "Noto Sans Mono", monospace;
$base-font-family: "Roboto", sans-serif;
$code-font-family: "Roboto Mono", monospace;
$condensed-font-family: "Roboto Condensed", sans-serif;

$text-color: #212121;
$accent-color: #ab3737;
$brand-color: #757575;
$code-color: #555555;
$code-background-color: #f5f5f5;

$link-hover-color: #ab3737;
// $link-hover-color: #5c74ff;

$link-base-color: #465ac7;