<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        {% assign coming_soon = site.data.infoboxes["coming_soon"][lang] | markdownify %}
        <div class="info-box yellow-box">{{ coming_soon }}</div>
        {{ content }}
      </div>

    {%- include footer.html -%}
    </main>

  </body>

</html>